.container{
    margin: 20px;
    display: grid;
    grid-template-columns: repeat(2,1fr);
}

.card{
    border: solid black 1px;
    margin: 20px;
    padding: 10px;
}

.image{
    height:80px;
}

.disable {
    display: none;
}
